{% extends "/logged/base.html" %}


{% block title %}
Your friends updates
{% endblock %}

{% block content %}

<div class="post-list">
    {% for shit, user, teams in shits %}
    <div class="post"> <!-- TODO post color depending on shit color -->
        <p class="username"><a href="/user/{{ user.id }}">{{ user.nickname }}</a></p>
        <!--p>
            Shape: 
            
            {% if shit.shape == 1 %}
                <img src="{{ url_for('static', filename='img/type1.png') }}" alt="Type 1">
            {% elif shit.shape == 2 %}
                <img src="{{ url_for('static', filename='img/type2.png') }}" alt="Type 2">
            {% elif shit.shape == 3 %}
                <img src="{{ url_for('static', filename='img/type3.png') }}" alt="Type 3">
            {% elif shit.shape == 4 %}
                <img src="{{ url_for('static', filename='img/type4.png') }}" alt="Type 4">
            {% elif shit.shape == 5 %}
                <img src="{{ url_for('static', filename='img/type5.png') }}" alt="Type 5">
            {% elif shit.shape == 6 %}
                <img src="{{ url_for('static', filename='img/type6.png') }}" alt="Type 6">
            {% elif shit.shape == 7 %}
                <img src="{{ url_for('static', filename='img/type7.png') }}" alt="Type 7">
            {% else %}
                <p>No image available for this shit shape.</p>
            {% endif %}
        </p-->
        <p>Level of Satisfaction: {{ shit.level_of_satisfaction }}</p> <!-- TODO: show satisfaction graphic -->
        <p>Timestamp: {{ shit.created_at }}</p> <!-- TODO format date time js -->
        <p class="shit-notes">Notes: {{ shit.notes }}</p>
        <p>Quantity: {{ shit.quantity }}</p>
        <p>Color ID: {{ shit.colorID }}</p>
        <p>Dimension: {{ shit.dimension }}</p>
        <p>
            Teams:
            {% if teams %}
                {% for team in teams %}
                    <a href="/team/{{ team.id }}" style="border:1px solid black">{{ team.name }}</a>
                {% endfor %}
            {% else %}
                No Team
            {% endif %}
    
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}