@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Seymour+One&display=swap');

.c80vh{
	height: 80vh;
}

.huge-title{
	font-size: 85px;
	font-family: 'Permanent Marker', cursive;
	padding: 15px 0;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom, var(--surface-variant) 0%, transparent 100%);
    backdrop-filter: blur(1px);
    font-family: 'Montserrat', sans-serif;
    height: 69px;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-inner {
    width: 100%;
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 980px;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--on-surface-variant);
    display: block;
    padding: 1em;
}

.hamburger {
    top: 1em;
    right: 1rem;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger .line {
    height: 3px;
    width: 100%;
    background-color: var(--primary);
    border-radius: 10px;
}

.header {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    position: relative;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .content {
        color: var(--on-primary);
        
    }
  }
  #curved-border {
    bottom: 0;
    position: absolute;
    width: 100%;
    path {
      fill: var(--surface);
    }
  }
  #curved-border2 {
    top: 0;
    position: absolute;
    transform: rotate(180deg);
    width: 100%;
    path {
      fill: var(--surface);
    }
  }
  .post-header {
    background: white;
    margin: 0;
    height: 100vh;
    width: 100%; 
    .content {
      padding: 0 3rem;
    }
  }