.section{
    margin: 25px 0;
    width: 100%;
    max-width: 980px;
    width: 100%;
	transition: all 0.3s ease-in-out;
}

.sub-section{
    margin: 50px 0;
    width: 100%;
    max-width: 980px;
}
.sub-section h2 i{
    color: var(--on-surface-primary);
}

.firstTitle {
    padding-top: 3%;
    width: 100%;
    border-bottom: 1px solid #fff;
    margin-bottom: 75px;
}
.rounded-container .firstTitle{
	border: none;
	margin: 0;
	padding: 0;
}
.rounded-container:has(.firstTitle){
	padding: 25px 0;
	margin-bottom: 15px;
}

.basic-form{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.basic-form .material-textfield input:focus{
    outline-color: var(--on-surface-primary);
}
.basic-form .material-textfield input:focus + label{
    color: var(--on-surface-primary);
}
.basic-form input{
    width: calc(100% - 30px);
    background-color: transparent;
}
.basic-form label{
    background-color: var(--surface)
}

.input-warning{
    display: none;
}

.form-logo{
    width: min(calc(100% - 100px), 300px);
}

.two-inputs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.two-inputs-container input{
    width: calc(100% - 30px);
}
#PSWShowHideIcon i{
    position: absolute;
    transform: translateX(-35px) translateY(17px);
    color: var(--muted);
    cursor: pointer;
}
input:focus + label + #PSWShowHideIcon i{
    color: var(--on-surface-primary);
}

/* select starting stylings https://codepen.io/danny_englander/pen/poooeme */
.select {
    border: 0;
    border-radius: 10px;
    outline: 1px solid var(--muted);
	position: relative;
    transition: all 0.1 ease-out;
    width: calc(100% - 6px);
}
.select-text {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 100%;
	padding: 1rem 0.7rem;
	font-size: 1rem;
	border-radius: 0;
	border: none;
    color: var(--on-surface);
}
.select-text option {
    color: #000;
}
.select-text:focus {
    outline: none;
}
.select:focus-within {
    outline: 1px solid var(--on-surface-primary);
}
/* Use custom arrow */
.select .select-text {
	appearance: none;
	-webkit-appearance:none
}
.select:after {
	position: absolute;
	top: 24px;
	right: 10px;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid var(--muted);
	pointer-events: none;
}
/* LABEL */
.select-label {
	color: var(--muted);
	font-size: 1rem;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	transition: 0.2s ease all;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 0.3rem;
    margin: 0 0.5rem;
}
/* active state */
.select-text:focus ~ .select-label {
	color: var(--on-surface-primary);
	top: 0px;
	transition: 0.2s ease all;
    transform: translateY(-50%) scale(.9);
}
.select-text:valid ~ .select-label{
    top: 0px;
    transform: translateY(-50%) scale(.9);
}
.select:focus-within:after {
    border-top-color: var(--on-surface-primary);
}


/* modal */
.modal-inner::-webkit-scrollbar {
    display: none;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
}
.modal-inner{
    box-sizing: border-box;
    position: relative;
    background: var(--surface);
    width: 75%;
    height: 85dvh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-y: scroll;
    text-align: center;
}

.modal-close{
    position:absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* stars rating */
.rating-field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.rating {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
  }
  
  .rating-0 {
    filter: grayscale(100%);
  }
  
  .rating > input {
    display: none;
  }
  
  .rating > label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
  }
  
  .rating > input:checked ~ label,
  .rating > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  }
  
  
  .rating > input:not(:checked) ~ label:hover,
  .rating > input:not(:checked) ~ label:hover ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  }