<div class="sidebar">
	<div class="sidebar-inner">
		<a class="sidebar-link sidebar-desktop" id="" href="">
			<span class="material-symbols-outlined">
				home
			</span>
			<span class="sidebar-link-text">Home</span>
		</a>
		<a class="sidebar-link" id="add" onclick="openModal('new-modal')"> <!-- TODO: highlight add btn -->
			<span class="material-symbols-outlined">
				add
			</span>
			<span class="sidebar-link-text">Add</span>
		</a>
		<a class="sidebar-link" id="settings" href="/settings">
			<span class="material-symbols-outlined">
				settings
			</span>
			<span class="sidebar-link-text">Settings</span>
		</a>
	</div>
</div>

<script>
	function closeModal(id) {
		document.getElementById(id).style.display = "none";
	}
	function openModal(id) {
		document.getElementById(id).style.display = "flex";
	}
</script>

<script>
	// on scroll down hide / up show sidebar-link-text on mobile
	function nav(){
		if (window.innerWidth <= 600) {
			var prevScrollpos = window.pageYOffset;
			window.onscroll = function() {
				var currentScrollPos = window.pageYOffset;
				if (prevScrollpos > currentScrollPos || (window.innerHeight + window.pageYOffset) >= document.body.offsetHeight-1 || currentScrollPos < 10) {
					$(".sidebar-link-text").slideDown(300);
					$(".sidebar").css("height", "78px");
				} else {
					$(".sidebar-link-text").slideUp(300);
					$(".sidebar").css("height", "58px");
				}
				prevScrollpos = currentScrollPos;
			}
		} else {
			// default size
			$(".sidebar").css("height", "100%");
			$(".sidebar-link-text").show();
			window.onscroll = null;
		}
	}
	nav();
	window.onresize = function() {
		nav();
	};
</script>

<div class="main-container">
	<div class="main">