<!-- new modal -->
<div id="new-modal" class="modal">
    <div class="modal-inner">
        <span class="btn text modal-close" onclick="closeModal('new-modal')">&times;</span>
        <div style="margin: 50px 0; width: min(100%, 600px); height: 100%;">
            <h2>Record new shit</h2>
            <form method="POST" action="{{ url_for('api.new_shit') }}" class="basic-form">
                {{ form.csrf_token }}
                <!-- Two-input container for time and rating fields -->
                <div class="two-inputs-container" style="grid-template-columns: 40% 60%;">
                    <div class="material-textfield">
                        {{ form.created_at(id='created_at', class_='datetime-local') }}
                        {{ form.created_at.label }}
                    </div>                    
                    <div class="rating-field">
                        <div class="feedback">
                            <div class="rating">
                                <input type="radio" name="level_of_satisfaction" id="rating-5" value="5">
                                <label for="rating-5"></label>
                                <input type="radio" name="level_of_satisfaction" id="rating-4" value="4">
                                <label for="rating-4"></label>
                                <input type="radio" name="level_of_satisfaction" id="rating-3" value="3">
                                <label for="rating-3"></label>
                                <input type="radio" name="level_of_satisfaction" id="rating-2" value="2">
                                <label for="rating-2"></label>
                                <input type="radio" name="level_of_satisfaction" id="rating-1" value="1">
                                <label for="rating-1"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- More options button and script -->
                <div style="display: flex; padding-bottom: 50px;" id="more-change">
                    <button type="button" class="btn text" id="more-btn" style="width: 50%; position: absolute; left: 0;">More options</button>
                    <script>
                        $('#more-btn').click(function(event) {
                            event.preventDefault(); // Prevent the form from submitting
                            $('.more').slideToggle();
                            $('#more-btn').text(function(i, text){
                                return text === "More options" ? "Less options" : "More options";
                            });
                            $('#more-change').css('display', function(){
                                return $('#more-change').css('display') === 'flex' ? 'block' : 'flex';
                            });
                        });
                        // Set default value for created_at
                        document.addEventListener('DOMContentLoaded', (event) => {
                            const now = new Date();
                            const year = now.getFullYear();
                            const month = String(now.getMonth() + 1).padStart(2, '0');
                            const day = String(now.getDate()).padStart(2, '0');
                            const hours = String(now.getHours()).padStart(2, '0');
                            const minutes = String(now.getMinutes()).padStart(2, '0');
                            const formattedDateTime = `${year}-${month}-${day}T${hours}:${minutes}`;
                            document.getElementById('created_at').value = formattedDateTime;
                        });
                    </script>
                    <div class="more basic-form" style="display: none; margin: 50px 0 25px 0">
                        <div class="input-container">
                            <div class="select">
                                <select id="colorID" name="colorID" class="select-text">
                                    <option selected value="" style="display: none;" disabled></option>
                                    {% for value, label in form.colorID.choices %}
                                        <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                                <label for="colorID" class="select-label">{{ form.colorID.label.text }}</label>
                            </div>
                        </div>
                        <div class="input-container">
                            <div class="select">
                                <select class="select-text" id="shape" name="shape">
                                    <option selected value="" style="display: none;" disabled></option>
                                    {% for value, label in form.shape.choices %}
                                        <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                                <label for="shape" class="select-label">{{ form.shape.label.text }}</label>
                            </div>
                        </div>
                        <div class="two-inputs-container">
                            <div class="material-textfield">
                                {{ form.quantity.label }}
                                {{ form.quantity() }}
                            </div>
                            <div class="material-textfield">
                                {{ form.dimension.label }}
                                {{ form.dimension() }}
                            </div>
                        </div>
                        <div class="input-container">
                            <div class="material-textfield">
                                {{ form.notes() }}
                                {{ form.notes.label }}
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn filled" style="width: 50%; position: absolute; right: 0;">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>