{% extends "base.html" %}

{% block title %}
Login
{% endblock %}


{% block content %}




<nav class="navbar">
    <div class="navbar-inner"><a class="logo" href="/"><img src="/img/nav-logo.png"></a><a class="hamburger"><span class="line"></span><span class="line"></span><span class="line"></span></a>
        <div class="nav-links">
            <ul>
                <li><a href="/register" class="spanHighlight">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="main-container"><div class="main flex-center" style="margin-top: 69px;">

    <h1>Log in</h1>


    <div style="margin: 25px; width: min(100%, 450px);">
            <form method="POST" action="{{ url_for('auth.login') }}" class="basic-form">
                {{ form.hidden_tag() }}
                
                <div class="input-container">
                    <div class="material-textfield">
                        {{ form.email }}
                        {{ form.email.label }}
                        {% for error in form.email.errors %}
                            <span style="color: red;">[{{ error }}]</span><br>
                        {% endfor %}
                    </div>
                </div>
                <div class="input-container">
                    <div class="material-textfield">
                        {{ form.password }}
                        {{ form.password.label }}
                        {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span><br>
                        {% endfor %}
                    </div>
                </div>
            
                    {{ form.submit() }}
            </form>
        
    </div>
</div></div>

{% endblock %}
