{% extends "base.html" %}

{% block title %}
Register
{% endblock %}


{% block content %}

<div class="main-container"><div class="main flex-center" style="margin-top: 69px;">
	<h1>Register</h1>
<div style="margin: 25px; width: min(100%, 600px);">
	<form method="POST" action="{{ url_for('auth.register') }}" class="basic-form">

		{{ form.hidden_tag() }}
		<div class="material-textfield">
			{{ form.nickname }}
			{{ form.nickname.label }}
		{% for error in form.nickname.errors %}
			<span style="color: red;">[{{ error }}]</span><br>
		{% endfor %}
		</div>
		<div class="two-inputs-container">
			<div class="material-textfield">
				{{ form.name }}
				{{ form.name.label }}
				{% for error in form.name.errors %}
					<span style="color: red;">[{{ error }}]</span><br>
				{% endfor %}
			</div>
			<div class="material-textfield">
				{{ form.surname }}
				{{ form.surname.label }}
				{% for error in form.surname.errors %}
					<span style="color: red;">[{{ error }}]</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="input-container">
			<div class="material-textfield">
				{{ form.email }}
				{{ form.email.label }}
				{% for error in form.email.errors %}
					<span style="color: red;">[{{ error }}]</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="input-container">
			<div class="material-textfield">
				{{ form.password }}
				{{ form.password.label }}
				{% for error in form.password.errors %}
					<span style="color: red;">[{{ error }}]</span><br>
				{% endfor %}
			</div>
		</div>

		<!-- toglierei sex e date of birth - 80% inutile -->
		<div class="input-container">
			<div class="select">
				<select id="gender" class="select-text" required>
					<option selected value="" style="display: none;" disabled></option>
					{% for value, label in form.sex.choices %}
						<option id="{{ value }}" value="{{ value }}">{{ label }}</option>
					{% endfor %}
				</select>
				{{ form.sex.label(class_="select-label") }}
				{% for error in form.sex.errors %}
					<span style="color: red;">[{{ error }}]</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="input-container">
			<div class="material-textfield">
					{{ form.date_of_birth() }}
					{{ form.date_of_birth.label }}
					{% for error in form.date_of_birth.errors %}
						<span style="color: red;">[{{ error }}]</span><br>
					{% endfor %}
				</div>
			</div>

			<!-- toglierei weight - 100% inutile -->
		<div class="input-container">
			<div class="material-textfield">
				{{ form.weight }}
				{{ form.weight.label }}
				{% for error in form.weight.errors %}
					<span style="color: red;">[{{ error }}]</span><br>
				{% endfor %}
			</div>
		</div>

		{{ form.submit() }}

	</form>

</div>
</div></div>

{% endblock %}
